{% extends "BackEndBundle::base.html.twig" %}
{% block title %}Восстановить доступ{% endblock %}
{% block content %}
<div class="container reset">
    <div class="title row">
        <div class="title__col col-12">
            <div class="title__content">
                <div class="title__text text_one-line">
                    Восстановление доступа к аккаунту
                </div>
            </div>
        </div>
    </div>
    <div class="main row">
        <div class="main__col col-12">
            <div class="main__content main__content_indent_yes">
                <form action="#" class="form page__form form_narrow">
                    <div class="form-group">
                        <label class="form__label" for="email">
                            Адрес электронной почты
                        </label>
                        <input class="form__input form-control" id="email" placeholder="E-mail адрес" type="email"/>
                    </div>
                    <button class="form__submit" type="submit">
                        <i class="form__submit-icon fa fa-refresh">
                        </i>
                        сбросить пароль
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
