.signup {
	@include e('text') {
		font-size: .9rem;
		font-weight: bold;
	}
	@include e('opportunity') {
		font-size: .9rem;

		margin: 0;
		padding-left: 20px;

		list-style: none;
	}
	@include e('opportunity-item') {
		&:first-child {
			margin-top: 10px;
		}
		&::before {
			position: absolute;
			left: 15px;

			content: '—';
		}
	}
}
